@model DESAFIOCRUD.Models.Fornecedor

@{
    ViewData["Title"] = "Excluir Fornecedor";
}

<h1>Excluir</h1>

<div class="card shadow-sm border-danger">
    <div class="card-header bg-danger text-white">
        <h3>Você tem certeza que quer excluir este item?</h3>
    </div>
    <div class="card-body">
        <h4 class="card-title">@Html.DisplayFor(model => model.Nome)</h4>
        <hr />
        
        <div class="row">
            <div class="col-md-4">
                @if (!string.IsNullOrEmpty(Model.FotoCaminho))
                {
                    <img src="@Model.FotoCaminho" alt="Foto do Fornecedor" class="img-fluid rounded" />
                }
                else
                {
                    <div class="alert alert-secondary" role="alert">
                        (Sem Foto)
                    </div>
                }
            </div>

            <div class="col-md-8">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Cnpj)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Cnpj)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Segmento)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Segmento)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Cep)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Cep)
                    </dd>
                </dl>
            </div>
        </div>
        
        <hr />
        
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Excluir (Sim)" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-outline-secondary">Voltar para a Lista</a>
        </form>
    </div>
</div>