@model DESAFIOCRUD.Models.Fornecedor

@{
    ViewData["Title"] = "Detalhes do Fornecedor";
}

<h1>Detalhes</h1>
<h4>@Html.DisplayFor(model => model.Nome)</h4>
<hr />

<div class="card shadow-sm">
    <div class="card-header">
        <h3>Informações Pessoais</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                @if (!string.IsNullOrEmpty(Model.FotoCaminho))
                {
                    <img src="@Model.FotoCaminho" alt="Foto do Fornecedor" class="img-fluid rounded" />
                }
                else
                {
                    <div class="alert alert-info" role="alert">
                        (Sem Foto)
                    </div>
                }
            </div>

            <div class="col-md-8">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Nome)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Cnpj)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Cnpj)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Segmento)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Segmento)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Cep)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Cep)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Endereco)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Endereco)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-outline-secondary">Voltar para a Lista</a>
</div>